PORT=4182
PUBLIC_ORIGIN=
LEAD_WEBHOOK_URL=
LEAD_WEBHOOK_TOKEN=
PRIVACY_POLICY_URL=https://ownerinc.com.br/politica-de-privacidade/
OWNTIME_URL=https://owntime.com.br/
NEST_URL=https://nestgramado.com.br/
