PORT=4182
PUBLIC_ORIGIN=
NEST_WEBHOOK_URL=
NEST_WEBHOOK_TOKEN=
OWNTIME_WEBHOOK_URL=
OWNTIME_WEBHOOK_TOKEN=
PRIVACY_POLICY_URL=https://ownerinc.com.br/politica-de-privacidade/
OWNTIME_URL=https://owntime.com.br/
NEST_URL=https://nestgramado.com.br/
